DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=sales
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password

SMTP2GO_API_KEY=api-your_smtp2go_api_key
SMTP2GO_API_REGION=eu
SMTP2GO_MAX_SEND_ATTEMPTS=3
SMTP2GO_TIMEOUT_SECONDS=20
SMTP2GO_TIMEOUT_INCREMENT_SECONDS=5

SMTP_FROM_EMAIL=hello@example.com
SMTP_FROM_NAME=Norda
SMTP_ADMIN_EMAIL=you@example.com
SMTP_REPLY_TO_EMAIL=hello@example.com
